<!doctype html>
<html>
	<head>
		<title>Wifi Map</title>
		<meta charset="utf-8">

		<link rel="stylesheet" href="/static/vendor/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/main.css">
	</head>
	<body>
		<div id="graph-container"></div>	
		<script src="/static/vendor/js/sigma.min.js"></script>
		<script src="/static/vendor/js/sigma.layout.forceAtlas2.min.js"></script>
		<script src="/static/vendor/js/sigma.plugins.animate.js"></script>
		<script src="/static/vendor/js/sigma.layout.noverlap.min.js"></script>
		<script src="/static/main.js"></script>
	</body>
</html>
